.education-item-form {
  display: grid;
  grid-template-columns: 25vh 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
}

.school {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
}

.role,
.school {
  font-size: large;
}

.role,
.schoolname {
  font-weight: 600;
}