.edit-form {
  display: grid;
  grid-template-columns: 15vh 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
}

.pi-display {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fullname {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-self: flex-start;
  font-size: xx-large;
  text-align: left;
}

.extra-information {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}